/* Large Devices (Desktop % Laptops) */
@media (min-width: 1199px) and (max-width: 1299px) {

    .navbar {
        padding: 20px 25px;
    }
}

/* Medium Devices (Landscape Tablets & Medium Desktops) */
@media (min-width: 991px) and (max-width: 1198px) {

    .navbar {
        padding: 15px;
    }

    .vertical-heading h2 {
        font-size: 29px;
    }

    /* Services*/
    .service-tab .tab-bg {
        padding: 16px 30px;
        min-height: 300px;
    }

    .service-tab p {
        line-height: 20px;
    }

    #services-01 .horizontal-heading {
        margin-bottom: 40px;
    }

    /* Contact */
    ul.office-details li {
        font-size: 12px;
    }
}

/* Small Devices (Portrait Tablets & Small Desktops) */
@media (min-width: 760px) and (max-width: 990px) {
    .navbar {
        padding: 15px;
    }

    .navbar-collapse.collapse.w-100.order-3.dual-collapse2 {
        display: flex;
    }

    .navbar-nav.ml-auto {
        flex-direction: row;
        margin: -40px 0 0 0;
    }

    /* HOME */
    #home-heading h1 {
        font-size: 36px;
    }

    #home-text p {
        font-size: 13px;
    }

    .btn-general {
        font-size: 10px;
        padding: 8px 35px;
    }

    /* General */
    .vertical-heading h2 {
        font-size: 29px;
    }

    /* About */
    #about-01 .vertical-heading {
        margin: 0 0 50px 20px;
    }

    #about-left .vertical-heading h5 {
        left: -65px;
    }

    /* Tech Statement */
    #tech-statement h3 {
        font-size: 20px;
        line-height: 30px;
    }

    /* Services*/
    #services .content-box-lg {
        padding-bottom: 60px;
    }
    
    .service-tab .tab-bg {
        padding: 16px 30px;
        min-height: 300px;
    }

    .service-tab p {
        line-height: 20px;
    }


    #services-01 .horizontal-heading {
        margin-bottom: 40px;
    }

    #services-01 #img-center {
        display: block;
        margin: 0 auto;
        max-width: 80%;
    }

    /* Service 2*/
    .r-tabs-accordion-title {
        text-align: center;
        margin-bottom: 10px;
    }

    .r-tabs-accordion-title a {
        font-family: "Raleway", sans-serif;
        font-size: 13px;
        color: #212226;
        text-transform: uppercase;
        font-weight: 400;
        padding: 0;
        text-decoration: none;
    }

    /* Tab active state */
    .r-tabs-accordion-title.r-tabs-state-active a {
        color: #f4c613;
        font-weight: 700;
        border-bottom: 3px solid #f4c613;
        padding-bottom: 5px;
        -webkit-transition: border-color 300ms linear;
        transition: border-color 300ms linear;
    }

    #services-tabs .tab-bg {
        text-align: center;
        padding: 40px 30px;
    }

    #services-tabs h2 {
        font-size: 40px;
    }
    #services-tabs h3 {
        font-size: 28px;
    }
    /* Portfolio */
    #portfolio {
        padding-bottom: 60px;
    }

    /* Testimonials */
    #testimonial-slider {
        position: relative;
        top: -60px;
    }

    /* Pricing */
    .pricing-table {
        display: block;
        margin: 0 auto 75px auto;
        width: 50%;
    }

    #pricing .content-box-md {
        padding-bottom: 50px;
    }

    /* State*/
    .stats-item {
        margin-bottom: 25px;
    }

    /* Blog */
    #blog-btn a {
        margin-bottom: 35px;
        position: relative;
        left: 50%;
        transform: translateX(-76.195px);
    }

    /* Contact */
    #contact-left ul.social-list {
        width: 50%;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        position: relative;
        left: 65%;
    }


}